#main-div{
  display: grid;
  place-items: center;
}
.input-field{

    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}
.btn{
  margin: 20px;
  height: 60px;
  width: 100px;
  color: white;
  background-color: brown;
  border-radius: 10px;
}
.btn:hover{
  opacity: 0.77;
}